extends layout

block content
    h4 #{schedule.scheduleName}
    p(style="white-space:pre;") #{schedule.memo}
    p 作成者: #{schedule.user.username}
    - var isMine = parseInt(user.id) === schedule.user.userId
    if isMine
        div
            a(href="/schedules/#{schedule.scheduleId}/edit") この予定を編集する
    h3 出欠表
    table
        tr
            th 予定
            each user in users
                th #{user.username}
        each candidate in candidates
            tr
                th #{candidate.candidateName}
                each user in users
                    td
                        button 欠席
